.mainContainer {
    background-color: var(--headerColor);
    min-height: 75px;
    box-shadow: 0px 1px 1px black;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    min-height: inherit;
    margin: 0 auto;
}

.budgetInput {
    background-color: var(--headerColor);
    border: none;
    border-bottom: 1px solid black;
    font-size: 19px;
    max-width: 80px;
}

.budgetInput:focus {
    outline-color: var(--bodyColor);
    outline-width: 2px;
    color: var(--bodyColor);
}

.purchaseButton {
    min-height: 30px;
    margin-left: 40px;
    font-size: 25px;
    box-shadow: 0px 0px 2px var(--bodyColor);
    background-color:  #000099;
    color: var(--bodyColor);
    cursor: pointer;
    padding: 12px;
}