.mainContainer {
    border: 1px solid black;
    min-width: 275px;
    max-width: 275px;
    min-height: 400px;
    max-height: 400px;
    padding: 15px;
    cursor: pointer;
    
    /* Makes text unhighlightable*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.daysContainer {
    margin: 40px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 25px auto;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 10px;
}

.dayText {
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}

.productText {
    flex: 1;
    text-align: center;
}

.moneyText {
    flex: 1;
    text-align: center;
}

.totalText {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    border-top: 1px solid black;
    padding-top: 20px;
}