.mainContainer {
    border: 1px solid black;
    min-width: 275px;
    max-width: 275px;
    min-height: 400px;
    padding: 15px;
    cursor: pointer;
    
    /* Makes text unhighlightable*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.daysContainer {
    margin: 40px;
}

.mainFlexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

.subFlexContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 20px;
}

.subFlexContainerTitle {
    flex-basis: 100%;
}

.subSubFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    margin: 15px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    min-width: 200px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 25px auto;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 10px;
}

.dayText {
    font-size: 40px;
    text-align: center;
}

.productText {
    flex: 1;
    text-align: center;
}

.moneyText {
    flex: 1;
    text-align: center;
}

.totalText {
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}