.mainContainer {
    display: inline-block;
    margin: 10px;
}

.formContainer {
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    box-shadow: 0px 0px 1px var(--headerColor);
    border-radius: 10px;
    padding: 15px;
}

.formContainer input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline-color: var(--headerColor);
    outline-width: 3px;
    margin-right: 8px;
    margin-left: 8px;
}

.formContainer input::placeholder {
    opacity: 0.7;
}

.buttonContainer {
    background-color: var(--headerColor);
    color: white;
    opacity: 0.4;
}

.errorItems {
    font-size: 12px;
    color: maroon;
    position: relative;
}

.errorPrices {
    font-size: 12px;
    color: maroon;
    position: relative;
}